<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Queue</th>
        <th scope="col">Home team</th>
        <th scope="col">Away name</th>
        <th scope="col">Referee</th>
        <th scope="col">Score</th>
        <th scope="col">Referee grade</th>
      </tr>
      </thead>
      <tbody>
      <!-- TODO create Queue as separate object to better visualization -->
      <tr *ngFor="let match of matches">
        <td>{{ match.queue }}</td>
        <td>{{ getTeam(match.homeTeamId)?.name }} {{ getTeam(match.homeTeamId)?.city }} </td>
        <td>{{ getTeam(match.awayTeamId)?.name }} {{ getTeam(match.awayTeamId)?.city }} </td>
        <td>{{ getReferee(match.refereeId)?.firstName }} {{ getReferee(match.refereeId)?.lastName }}</td>
        <td>{{ match.homeScore }} - {{match.awayScore}}</td>
        <td>{{ getGrade(match.gradeId)?.value }}</td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/addMatch" class="btn btn-info">Add new match</a>
  </div>
</div>
