<div class="card my-5">
  <h2 id="header" class="text-center my-3">List of matches</h2>
  <div class="card-body">
    <table aria-describedby="header" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Home team</th>
          <th scope="col">Away team</th>
          <th scope="col">Date</th>
          <th scope="col">Referee</th>
          <th scope="col">Score</th>
          <th scope="col">Referee grade</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      @for (groupedMatch of groupedMatches | keyvalue: null; track groupedMatch) {
        <tbody>
          <tr>
            <th colspan="100%" class="text-center table-dark" scope="rowgroup">Queue {{groupedMatch.key}}</th>
          </tr>
          @for (match of groupedMatch.value; track match) {
            <tr>
              <td>{{ getTeam(match.homeTeamId)?.name }} {{ getTeam(match.homeTeamId)?.city }} </td>
              <td>{{ getTeam(match.awayTeamId)?.name }} {{ getTeam(match.awayTeamId)?.city }} </td>
              <td>{{ match.date | date: 'dd.MM.yyyy HH:mm'}}</td>
              <td>{{ getReferee(match.refereeId)?.firstName }} {{ getReferee(match.refereeId)?.lastName }}</td>
              <td>{{ match.homeScore }} - {{match.awayScore}}</td>
              <td>{{ getGrade(match.gradeId)?.value }}</td>
              <td>
                <app-edit-button (clicked)="editMatch(match)"></app-edit-button>
                <app-delete-button (clicked)="deleteMatch(match)"></app-delete-button>
              </td>
            </tr>
          }
        </tbody>
      }
    </table>
    <app-add-button label="Add new match" routerLink="addMatch"></app-add-button>
  </div>
</div>
