<app-form-drawer [open]="true"
                 [title]="editMode ? 'Edit vacation' : 'Add vacation'"
                 subtitle="Referee unavailability window"
                 [submitLabel]="editMode ? 'Save changes' : 'Add vacation'"
                 formId="vacation-form"
                 [valid]="!!f.valid && !endBeforeStart"
                 [dirty]="!!f.dirty"
                 (closed)="closed.emit()">
  <form id="vacation-form" #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-stack">
    <div class="field-block" [class.invalid]="referee.invalid && (referee.touched || referee.dirty)">
      <label class="lbl" for="referee">Referee<span class="req">*</span></label>
      <select class="select" id="referee" name="referee" [(ngModel)]="model.refereeId" required #referee="ngModel">
        <option [ngValue]="undefined" disabled hidden>Choose referee</option>
        @for (ref of referees; track ref.id) {
          <option [ngValue]="ref.id">{{ ref.firstName }} {{ ref.lastName }}</option>
        }
      </select>
      @if (referee.invalid && (referee.touched || referee.dirty)) {
        <span class="err"><app-icon name="info" [size]="12"></app-icon>Referee is required</span>
      }
    </div>

    <div class="form-row cols-2">
      <div class="field-block" [class.invalid]="startDate.invalid && (startDate.touched || startDate.dirty)">
        <label class="lbl" for="startDate">Start date<span class="req">*</span></label>
        <input class="input" type="date" id="startDate" name="startDate"
               [(ngModel)]="model.startDate" [max]="model.endDate" required #startDate="ngModel">
        @if (startDate.invalid && (startDate.touched || startDate.dirty)) {
          <span class="err"><app-icon name="info" [size]="12"></app-icon>Start date is required</span>
        }
      </div>
      <div class="field-block"
           [class.invalid]="(endDate.invalid || endBeforeStart) && (endDate.touched || endDate.dirty)">
        <label class="lbl" for="endDate">End date<span class="req">*</span></label>
        <input class="input" type="date" id="endDate" name="endDate"
               [(ngModel)]="model.endDate" [min]="model.startDate" required #endDate="ngModel">
        @if ((endDate.invalid || endBeforeStart) && (endDate.touched || endDate.dirty)) {
          <span class="err">
            <app-icon name="info" [size]="12"></app-icon>
            {{ endDate.errors?.['required'] ? 'End date is required' : 'End date must be after start' }}
          </span>
        }
      </div>
    </div>

    <span class="hint">The staffer excludes a referee from any queue that overlaps this window.</span>
  </form>
</app-form-drawer>
