<div class="card my-5">
  <h2 id="header" class="text-center my-3">List of teams</h2>
  <div class="card-body">
    <table aria-describedby="header" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Team name</th>
          <th scope="col">City</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (team of teams; track team.id) {
          <tr>
            <td>{{ team.name }}</td>
            <td>{{ team.city }}</td>
            <td>
              <app-edit-button (clicked)="editTeam(team)"></app-edit-button>
              <app-delete-button (clicked)="deleteTeam(team)"></app-delete-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <app-add-button label="Add new team" routerLink="addTeam"></app-add-button>
  </div>
</div>
