<div class="card my-5">
  <h2 id="header" class="text-center my-3">List of teams</h2>
  <div class="card-body">
    <table aria-describedby="header" class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Team name</th>
        <th scope="col">City</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let team of teams">
        <td>{{ team.name }}</td>
        <td>{{ team.city }}</td>
        <td>
          <button class="btn btn-secondary mx-3" (click)="editTeam(team)">
            <em class="fa fa-pencil mr-2"></em>Edit
          </button>
          <button class="btn btn-danger" (click)="deleteTeam(team)">
            <em class="fa fa-trash mr-2"></em>Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/addTeam" class="btn btn-primary">
      <em class="fa fa-plus-circle mr-2"></em>Add new team
    </a>
  </div>
</div>
