<div class="card my-5">
  <h2 id="header" class="text-center my-3">List of referees</h2>
  <div class="card-body">
    <table aria-describedby="header" class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">First name</th>
        <th scope="col">Last name</th>
        <th scope="col">Email</th>
        <th scope="col">Experience (no of matches)</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let referee of referees">
        <td>{{ referee.firstName }}</td>
        <td>{{ referee.lastName }}</td>
        <td><a href="mailto:{{ referee.email }}">{{ referee.email }}</a></td>
        <td>{{ referee.experience }}</td>
        <td>
          <button class="btn btn-info mx-3" (click)="editReferee(referee)">Edit</button>
          <button class="btn btn-info" (click)="deleteReferee(referee)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
    <a routerLink="/addReferee" class="btn btn-info">Add new referee</a>
  </div>
</div>
