<div class="card my-5">
  <h2 id="header" class="text-center my-3">List of referees</h2>
  <div class="card-body">
    <table aria-describedby="header" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">First name</th>
          <th scope="col">Last name</th>
          <th scope="col">Email</th>
          <th scope="col">Experience</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (referee of referees; track referee.id) {
          <tr>
            <td>{{ referee.firstName }}</td>
            <td>{{ referee.lastName }}</td>
            <td><a href="mailto:{{ referee.email }}">{{ referee.email }}</a></td>
            <td>{{ referee.experience }}</td>
            <td>
              <app-edit-button (clicked)="editReferee(referee)"></app-edit-button>
              <app-delete-button (clicked)="deleteReferee(referee)"></app-delete-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <app-add-button label="Add new referee" routerLink="addReferee"></app-add-button>
  </div>
</div>
