<div class="card my-5">
  <h2 class="text-center my-3">Import file with data</h2>
  <div class="card-body">
    <div class="form-group">
      <div>
        <label for="file-upload" class="btn btn-primary">
          <em class="fa fa-cloud-upload mr-2"></em>Upload file
        </label>
        <input type="file" id="file-upload" (change)="handleFileInput($event)"/> {{fileToUpload?.name}}
      </div>
      <div class="my-2 row">
        <label class="col-3 col-form-label" for="numberOfQueuesToImportInput">Number of queues to import</label>
        <div class="col-2">
          <input type="number" [(ngModel)]="numberOfQueuesToImport"
                 min="0"
                 class="form-control"
                 id="numberOfQueuesToImportInput"
                 placeholder="No of queues"/>
        </div>
      </div>
      <button (click)="uploadFileToActivity()" class="btn btn-success"
              [disabled]="fileToUpload===null ||(numberOfQueuesToImport === undefined || numberOfQueuesToImport === null)">
        <em class="fa fa-check mr-2"></em>Save
      </button>
    </div>
    <div *ngIf="importResult">
      <h4>Imported data:</h4>
      <div>
        Referees: {{importResult.referees}}<br>
        Grades: {{importResult.grades}}<br>
        Teams: {{importResult.teams}}<br>
        Matches: {{importResult.matches}}
      </div>
    </div>
  </div>
</div>
