<div class="card my-5">
  <h2 id="header" class="text-center my-3">List of vacations</h2>
  <div class="card-body">
    <table aria-describedby="header" class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Referee name</th>
          <th scope="col">Start date</th>
          <th scope="col">End date</th>
          <th scope="col">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (vacation of vacations; track vacation.id) {
          <tr>
            <td>{{getRefereeName(vacation.refereeId)}}</td>
            <td>{{ vacation.startDate | date: 'dd.MM.yyyy'}}</td>
            <td>{{ vacation.endDate | date: 'dd.MM.yyyy'}}</td>
            <td>
              <app-edit-button (clicked)="editVacation(vacation)"></app-edit-button>
              <app-delete-button (clicked)="deleteVacation(vacation)"></app-delete-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
    <app-add-button label="Add new vacation" routerLink="addVacation"></app-add-button>
  </div>
</div>
