<div class="card my-5">
  <h2 class="text-center my-3">Configuration</h2>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #configurationForm="ngForm">
      <div *ngFor="let setting of config">
        <div class="form-group row">
          <label for="{{setting.id}}" class="col-5 col-form-label text-right">{{setting.name}}</label>
          <div class="col-2">
            <input type=number [(ngModel)]="setting.value"
                   step=any
                   class="form-control"
                   id="{{setting.id}}"
                   placeholder="Enter {{setting.name}}"
                   name="{{setting.name}}"
                   required #settingInput="ngModel"/>
          </div>
        </div>
        <div [hidden]="settingInput.valid" class="alert alert-danger">Setting {{setting.name}} is required</div>
      </div>
      <button type="submit" [disabled]="!configurationForm.form.valid" class="btn btn-success">
        <em class="fa fa-check mr-2"></em>Submit
      </button>
    </form>
  </div>
</div>
