<app-form-drawer [open]="true"
                 [title]="editMode ? 'Edit team' : 'Add team'"
                 [subtitle]="subtitle"
                 [submitLabel]="editMode ? 'Save changes' : 'Add team'"
                 formId="team-form"
                 [valid]="!!f.valid"
                 [dirty]="!!f.dirty"
                 (closed)="closed.emit()">
  <form id="team-form" #f="ngForm" (ngSubmit)="onSubmit(f)" class="form-stack">
    <div class="field-block" [class.invalid]="name.invalid && (name.touched || name.dirty)">
      <label class="lbl" for="name">Team name<span class="req">*</span></label>
      <input class="input" type="text" id="name" name="name" placeholder="Legia Warszawa"
             [(ngModel)]="model.name" required #name="ngModel">
      @if (name.invalid && (name.touched || name.dirty)) {
        <span class="err"><app-icon name="info" [size]="12"></app-icon>Team name is required</span>
      }
    </div>

    <div class="field-block" [class.invalid]="city.invalid && (city.touched || city.dirty)">
      <label class="lbl" for="city">City<span class="req">*</span></label>
      <input class="input" type="text" id="city" name="city" placeholder="Warszawa"
             [(ngModel)]="model.city" required #city="ngModel">
      @if (city.invalid && (city.touched || city.dirty)) {
        <span class="err"><app-icon name="info" [size]="12"></app-icon>City is required</span>
      } @else {
        <span class="hint">Used to detect same-city derbies in match difficulty.</span>
      }
    </div>
  </form>
</app-form-drawer>
