<div class="card my-5">
  <h2 *ngIf="!editMode" class="text-center my-3">Add new match</h2>
  <h2 *ngIf="editMode" class="text-center my-3">Edit match</h2>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #matchForm="ngForm">
      <div class="form-group">
        <label for="queue">Queue(*)</label>
        <input type="number" [(ngModel)]="match.queue"
               min="0"
               class="form-control"
               id="queue"
               name="queue"
               placeholder="Enter queue"
               required #queue="ngModel">
      </div>
      <div [hidden]="queue.valid || queue.untouched" class="alert alert-danger">Queue is required</div>
      <div class="form-group">
        <label for="homeTeam">Home team(*)</label>
        <select class="custom-select" id="homeTeam" name="homeTeam" [(ngModel)]="match.homeTeamId" required
                #homeTeam="ngModel">
          <option hidden value="undefined" selected>Choose home team</option>
          <option *ngFor="let team of teams | excludeValue: match.awayTeamId" [ngValue]="team.id">{{team.name}} {{team.city}}</option>
        </select>
      </div>
      <div [hidden]="homeTeam.valid || homeTeam.untouched" class="alert alert-danger">Home team is required</div>
      <div class="form-group">
        <label for="awayTeam">Away team(*)</label>
        <select class="custom-select" id="awayTeam" name="awayTeam" [(ngModel)]="match.awayTeamId" required
                #awayTeam="ngModel">
          <option hidden value="undefined" selected>Choose away team</option>
          <option *ngFor="let team of teams | excludeValue: match.homeTeamId" [ngValue]="team.id">{{team.name}} {{team.city}}</option>
        </select>
      </div>
      <div [hidden]="awayTeam.valid || awayTeam.untouched" class="alert alert-danger">Away team is required</div>
      <div class="form-group">
        <label for="referee">Referee</label>
        <select class="custom-select" id="referee" name="referee" [(ngModel)]="match.refereeId">
          <option hidden [ngValue]="null" selected>Choose referee</option>
          <option [ngValue]="undefined" selected>Choose referee</option>
          <option *ngFor="let referee of referees"
                  [ngValue]="referee.id">{{referee.firstName}} {{referee.lastName}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="homeScore">Home team score</label>
        <input type="number" [(ngModel)]="match.homeScore"
               min="0"
               class="form-control"
               id="homeScore"
               name="homeScore"
               placeholder="Enter home team score">
      </div>
      <div class="form-group">
        <label for="awayScore">Away team score</label>
        <input type="number" [(ngModel)]="match.awayScore"
               min="0"
               class="form-control"
               id="awayScore"
               name="awayScore"
               placeholder="Enter away team score">
      </div>
      <div class="form-group">
        <label for="grade">Referee grade</label>
        <input type="number" [(ngModel)]="grade.value"
               min="0"
               class="form-control"
               id="grade"
               name="grade"
               placeholder="Referee grade">
      </div>
      <button type="submit" [disabled]="!matchForm.form.valid" class="btn btn-info">Submit</button>
    </form>
  </div>
</div>
