<div class="card-footer">
  <div class="row">
    <div class="col-6">
      <p>{{copyright}}</p>
    </div>
    <div class="col-6 text-right">
      <a href="{{linkedInUrl}}" class="fa fa-linkedin-square mx-2" target="_blank" rel="noopener" aria-label="LinkedIn"><span class="sr-only">LinkedIn</span></a>
      <a href="{{facebookUrl}}" class="fa fa-facebook-square mx-2" target="_blank" rel="noopener" aria-label="Facebook"><span class="sr-only">Facebook</span></a>
      <a href="{{steamUrl}}" class="fa fa-steam-square mx-2" target="_blank" rel="noopener" aria-label="Steam"><span class="sr-only">Steam</span></a>
      <a href="{{email}}" target="_blank" rel="noopener" class="fa fa-envelope mx-2" aria-label="Email"><span class="sr-only">Email</span></a>
    </div>
  </div>
</div>
