<div class="card my-5">
  <h2 id="header" class="text-center my-3">Create cast</h2>
  <div class="card-body">
    <table aria-describedby="header" *ngIf="matches" class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th id="queueHeader" [colSpan]="3" class="tableHeader">Queue {{queue}}</th>
      </tr>
      <tr>
        <th scope="col">Home team</th>
        <th scope="col">Away name</th>
        <th scope="col">Referee</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let match of matches">
        <td headers="queueHeader">{{ getTeam(match.homeTeamId)?.name }} {{ getTeam(match.homeTeamId)?.city }} </td>
        <td headers="queueHeader">{{ getTeam(match.awayTeamId)?.name }} {{ getTeam(match.awayTeamId)?.city }} </td>
        <td headers="queueHeader">{{ getReferee(match.refereeId)?.firstName }} {{ getReferee(match.refereeId)?.lastName }}</td>
      </tr>
      </tbody>
    </table>
    <form (ngSubmit)="onSubmit()" #stafferForm="ngForm">
      <div class="form-group">
        <label for="queueInput">Queue(*)</label>
        <input type="number" [(ngModel)]="queue"
               class="form-control"
               min="0"
               id="queueInput"
               name="queueInput"
               placeholder="Enter queue"
               required #queueInput="ngModel">
      </div>
      <div [hidden]="queueInput.valid || queueInput.untouched" class="alert alert-danger">Queue is required</div>
      <button type="submit" [disabled]="!stafferForm.form.valid" class="btn btn-primary">Generate cast</button>
      <button type="button" (click)="updateMatches()" [hidden]="!matches" class="btn btn-success float-right">Save cast</button>
    </form>
  </div>
</div>
